.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  padding: 16px;
  border-radius: 8px;
  width: 660px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.modal-buttons  h3 {
    font-size: 22px;
    font-weight: 700;
}

.cancel,
.delete {
  width: 120px;
  height: 32px;
  border: 1px solid #999999;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
}

.cancel {
  background: #ffffff;
  color: #000000;
}

.delete {
  background: #ff5151;
  color: white;
}
